*, html{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container {
    padding: 20px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    margin: auto;
    border-radius: 20px;
    padding: 16px;
    background: #FAFAFA;
  }
  .logo{
      width: 50px
  }
  @media (max-width: 1400px) {
    .nav {
      width: 100%;
    }
  }
  .link {
    text-decoration: none;
    margin: 0 20px;
    color: black;
  }
  button {
    border-radius: 10px;
    background: #40269E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
  }
  button p {
    margin: 0 10px;
  }
  .right {
    flex-direction: row;
  }
  .linkBtn {
    display: none;
  }
  .left {
    flex-direction: row-reverse;
  }
  .toggle {
    display: none;
  }
  @media (max-width: 790px) {
    .container {
      height: 100vh;
    }
    .toggle {
      display: block;
      padding: 10px;
      background: #FAFAFA;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.3s;
    }
    .toggle svg {
      width: 100%;
      height: 100%;
    }
    .toggle.open {
      transform: rotate(45deg);
    }
    .nav {
      position: relative;
      background: none;
      justify-content: space-between;
    }
    .links {
      position: absolute;
      left: 50%;
      top: 0;
      background: #FAFAFA;
      display: flex;
      flex-direction: column;
      padding: 40px 30px;
      width: 90%;
      margin-top: 80px;
      border-radius: 20px;
      transform: translateY(50px) translateX(-50%);
      pointer-events: none;
      transition: all 0.3s;
      opacity: 0;
    }
    .links.open {
      opacity: 1;
      transform: translateY(0px) translateX(-50%);
      pointer-events: all;
    }
    .links .link {
      margin: 15px 0;
    }
    .navBtn {
      display: none;
    }
    .linkBtn {
      display: block;
      margin-top: 20px;
    }
  }